h1{
    width: 20px;
    display: inline;
    position: fixed;
    right: 620px;
    top: 23px;
    text-align: center;
    text-indent: 2px;
    font-style: italic;
    padding: 10px 40px;
    border: 4px solid black;
    background-color: #BADA55;
    border-radius: 50%;
}
h2{
    width: 75px;
    height: 5px;
    display: inline;
    text-align: center;
    margin-left: 600px;
    padding: 10px 20px;
    border-radius: 50%; 
}
.life-time-cotainer{
    width:100%;
    margin: auto;
    padding-top: 50px;

}

body{
    background: #ffffff url("../img/game_background.jpg") no-repeat top right;
    background-size: 100%;
}
div table{
    margin-top: 50px;
}

table{
    width: 150px;
    height: 150px;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
td{
    border: 4px solid black;
    background-color: rgba(145, 136, 136, 0.767); 
    text-align: center;
    width: 30px;
}
tr{
    height:40px;
}

td span{
    display:none;
    font-weight: bold;
    font-size: 20px;
}
.cell-cover{
    background-image: url("../img/cell.png");
    background-size: 100% 100%;
}
.cell-flag{
    background-image: url("../img/flag.png");
    background-size: 100% 100%;
}

  /* buttons */
.buttons{
    width: 400px;
    margin: auto;
    padding: 20px 20px;
}
.level-buttons{
    margin: 5px 30px;
    padding: auto;
    border-radius: 40%;
    background-color: rgba(56, 112, 119, 0.527);
    font-size: 20px;
} 

.button-container{
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.face-button{
    width: 75px;
    height: 75px;
    font-size: 40px;
    background-image: url("../img/cell.png");
    background-size: 100% 100%;
    align-items: center;
    margin-left: 50%;
    border: 4px solid black;
    Transform: translate(-50%)
}
.face-button:hover{
    background-image: url();
    background-color: grey;
}

/* clue buttons*/
.clue-buttons-container{
    position:fixed;
    top:10px;
    left: 380px;
    padding: 20px 15px;
    padding-bottom: 20px;

}
.clue-button{
    font-size: 20px;
    background-color: yellow;
}

/* best Score header */
h3{
    position:fixed;
    top:200px;
    left:50%;
    transform: translate(-50%)
}